<div class="text-center">
   <h1 class="cover-heading">Tham gia Twitter ngay hôm nay.</h1>
   <p class="lead">Xem những sự kiện đang xảy ra trên thế giới ngay lúc này</p>
   <a class="btn btn-twitter-signup mb-3" href="/signup">Đăng Kí</a><br />
   <button class="btn btn-twitter-login">Đăng Nhập</button>
</div>