<div class="text-center">
   <h1 class="cover-heading">Tham gia Twitter ngay hôm nay.</h1>
   <p class="lead">Xem những sự kiện đang xảy ra trên thế giới ngay lúc này</p>
   <%if (!user) { %>
   <a class="btn btn-twitter-signup mb-3" href="/users/signup">Đăng Kí</a><br />
   <a class="btn btn-twitter-signup mb-3" href="/users/login">Đăng Nhập</a><br />
   <a class="btn btn-twitter-signup mb-3" href="/auth/google">Google</a><br />
   <a class="btn btn-twitter-signup mb-3" href="/auth/facebook">Facebook</a><br />
   <% } %>
   <%if (user) { %>
   <a class="btn btn-twitter-signup mb-3" href="/users/logout">Logout</a><br />
   <% } %>
</div>